@addTagHelper *, PowerBI-TagHelper

@{ 
    Layout = "_Layout";
}

<h2>Power BI Publish to Web</h2>
<power-bi reportId="eyJrIjoiMDRlMWFhZjQtNTc3YS00YjhjLTlmMDgtYzMyMTdhMzA4NjEzIiwidCI6IjI2YWQxODUzLTZiM2UtNGE1NC05MzQ3LWFiM2U3MWNjNmU2MSIsImMiOjl9" />

<h2>Power BI Embedded</h2>
<power-bi workspaceCollectionName="DemoWorkspaceCollection"
          workspaceId="361fe362-4c7a-47d3-b27b-b4cd3441ead0"
          accesskey="npQ6PPgsbCB8zR5OVEmpPDf3AqtlvQRTdz5tzkFtXIP41ZPwgXpKBQQhthV7CkYSzeVRJg1PSkbU1p2AqY0ExA=="
          reportId="1f7004ba-d989-4dfa-b101-eba56c68f70b"
          style="margin-left:auto;margin-right:auto"/>